.flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .h-screen {
    height: 100vh;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  
  .bg-blue-500 {
    background-color: #4299e1; /* You may need to adjust the color based on your Tailwind configuration */
  }
  
  .text-white {
    color: #fff;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .transition {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
  
  .ease-in-out {
    transition-timing-function: ease-in-out;
  }
  
  .transform {
    transform: none;
  }
  
  .hover\:scale-105:hover {
    transform: scale(1.05);
  }
  

  .toursss {
    background: url(../assets/images/gallery-02.jpg) no-repeat ;
  }